<%= turbo_frame_tag 'editable' do %>
  <div class="card">
    <div class="card-header">
      <h4>Создание нового учебного периода</h4>
    </div>
    <div class="card-body">
      <%= render 'form', 
           academic_period: @academic_period, 
           url: admin_academic_periods_path(faculty_id: @faculty_id),
           submit_text: "Создать" %>
    </div>
  </div>
<% end %>